@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.header {
  background-color: getBackgroundColor('header');
  border-bottom: 1px solid getColor('primary');
}
.container {
  @include mq(mob-only) {
    @include flexed(null, space-between);
    flex-direction: column;
  }
  @include container-width();

  height: 168px;
  padding: 24px;

  @include mq(tab) {
    @include container-width(768px);
    position: relative;

    height: 92px;
    padding: 26px 33px 18px;
  }
  @include mq(desk) {
    @include container-width(1440px);
    padding: 22px 80px;
  }
}
.wrapper {
  @include flexed();
  gap: 56px;

  @include mq(tab) {
    gap: 479px;
  }
  @include mq(desk) {
    justify-content: space-between;
  }
}
.title {
  color: getColor('primary');

  font-family: getFont('header');
  font-size: 24px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0em;
  text-align: left;
}
