@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.header {
  background-color: getBackgroundColor('header');

  border-bottom: 1px solid getColor('primary');
}
.container {
  @include flexed(null, space-between);

  flex-direction: column;
  @include mobile-width();
  height: 168px;
  padding: 24px;
}
.wrapper {
  @include flexed();
  gap: 56px;
}
.title {
  color: getColor('primary');

  font-family: getFont('header');
  font-weight: 400;

  font-size: 24px;
  line-height: 1.38;
}
