@import 'styles/_mixins.scss';
@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';
.link {
  @include flexed(center);
  gap: 4px;
  margin-bottom: 24px;
}

.iconArrow {
  @extend %icon;
  background-image: getIcon('arrow-back');
}
.back {
  color: getColor('primary');
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
