@import 'styles/_mixins.scss';
@import 'styles/_global-vars.scss';
.link {
  @include flexed(center);
  gap: 4px;
  margin-bottom: 24px;
}

.iconArrow {
  width: 24px;
  height: 24px;
  background-image: getIcon('arrow-back');
  background-repeat: no-repeat;
  background-size: contain;
}
.back {
  color: getColor('primary');
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}
