@import 'styles/_placeholder.scss';
@import 'styles/_mixins.scss';
@import 'styles/_global-vars.scss';

.title {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;

  @include mq(tab) {
    font-size: 32px;
  }
}
.container {
  width: 100%;
  min-height: 464px;

  background-color: getBackgroundColor('primary');
  border-radius: 8px;

  box-shadow: getShadow('main');
  @include mq(tab) {
    width: 688px;
    min-height: 504px;
  }
}
.img {
  width: 272px;
  height: 168px;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  object-fit: cover;
  @include mq(tab) {
    width: 688px;
    height: 272px;
  }
}
.wrapper {
  width: 100%;
  padding: 24px 16px 40px;
  @include mq(tab) {
    padding: 24px 24px 40px;
  }
}
.description {
  margin-bottom: 24px;

  color: getColor('secondary-text');

  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0px;
  text-align: left;
}
.wrapperCity {
  display: inline-flex;

  min-width: 53px;
  height: 32px;
  margin-bottom: 12px;
  padding: 6px 12px 6px 12px;

  border-radius: 8px;

  background-color: getBackgroundColor('primary');
  box-shadow: getShadow('secondary');
  @include mq(tab) {
    margin-bottom: 40px;
  }
}
.city {
  color: getColor('primary');

  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0em;
  text-align: center;
}
.wrapperDate {
  @include flexed(center, center);

  width: 150px;
  height: 32px;
  margin-bottom: 40px;
  padding: 6px 12px 6px 12px;

  border-radius: 8px;

  background-color: getBackgroundColor('primary');
  box-shadow: getShadow('secondary');
  @include mq(tab) {
    display: inline-flex;
    margin-left: 12px;
  }
}
.date {
  color: getColor('primary');

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0px;
  text-align: center;
}
.wrapperBtn {
  @include flexed(center, space-between);

  @include mq(tab) {
    @include flexed(center, flex-end);
    gap: 16px;
  }
}
.edit {
  @extend %button;
  @extend %buttonWhite;
  width: 108px;
  height: 32px;

  @include mq(tab) {
    width: 55px;
  }
}
.delete {
  @extend %button;
  @extend %buttonPurple;
  width: 108px;
  height: 32px;

  transition: background-color getAnimation('animation');

  &:hover,
  &:focus {
    background-color: getColor('hover');
  }
}
