@import 'styles/_global-vars.scss';
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  background-image: url('../../assets/backgroundImage/backgroundImage.png');
  background-repeat: repeat;
  background-position: top;
  background-size: auto;
  font-family: 'Poppins', sans-serif;
  color: #3f3f3f;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
label .react-datepicker {
  position: absolute;
  border: none;
  border-radius: 11px;

  box-shadow: 0px 0px 14px 0px #00000012;
  z-index: 100;
}
.react-datepicker-popper .react-datepicker {
  border: none;
  border-radius: 0;
}
.react-datepicker__month-container {
  width: 240px;
  height: 296px;

  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  @media screen and (min-width: 768px) {
    width: 308px;
    height: 316px;
  }
}

.react-datepicker__month-container .react-datepicker__header {
  border-bottom: 1px solid #ffffff;

  background-color: #ffffff;
}
.react-datepicker__header .react-datepicker__current-month {
  margin-bottom: 20px;
  margin-top: 8px;

  color: #3f3f3f;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
}
.react-datepicker__day-names .react-datepicker__day-name {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #3f3f3f;
}
.react-datepicker__day-names .react-datepicker__day-name:first-child,
.react-datepicker__day-names .react-datepicker__day-name:last-child {
  color: #ff2b77;
}
.react-datepicker__week > .react-datepicker__day {
  margin: 8px 5px;
  padding: 6px 4px;

  color: #aca7c3;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.react-datepicker__week > .react-datepicker__day--keyboard-selected {
  background-color: #7b61ff;
}
.react-datepicker__week > .react-datepicker__day--keyboard-selected:hover {
  background-color: #6243ff;
}
.react-datepicker .react-datepicker__week > .react-datepicker__day--selected {
  color: #aca7c3;
  background-color: #7b61ff;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.react-datepicker__week > .react-datepicker__day--today {
  color: #7b61ff;
}

.react-datepicker__week > .react-datepicker__day--selected:hover {
  background-color: #6243ff;
}
.react-datepicker--time-only
  .react-datepicker__time-container
  .react-datepicker__time-container {
  float: none;
}
.react-datepicker__time {
  width: 240px;
  height: 160px;
  padding: 0px 16px 0px 16px;

  border-radius: 8px;

  background: #ffffff;
  box-shadow: 2px 4px 9px 0px #a68dae47;
  @media screen and (min-width: 768px) {
    width: 308px;
  }
}

.react-datepicker .react-datepicker__header,
.react-datepicker__header--time {
  padding-top: 0;
  padding-bottom: 0;

  border: none;
}
.react-datepicker-time__header {
  height: 0;
}
.react-datepicker
  .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  height: 160px;
}
.react-datepicker
  .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: 100%;
}
.react-datepicker
  .react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  padding: 15.5px;

  border-bottom: 1px solid #aca7c3;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  height: 16px;
  letter-spacing: 0em;
  text-align: center;
}
.react-datepicker .react-datepicker__children-container {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  margin-left: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    gap: 10px;
    margin-left: 67px;
  }
}
