:root {
  /* fonts */
  --primary-font: 'Poppins', sans-serif;
  --header-font: 'Alata', sans-serif;
  /* background colors */
  --primary-background-color: #ffffff;
  --header-background-color: #fefcff;
  /* colors */
  --primary-color: #7b61ff;
  --primary-text-color: #3f3f3f;
  --placeholder-text-color: #888888;
}
