@import 'styles/_mixins.scss';
.eventContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 24px;
  @include mq(tab) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
  @include mq(desk) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
  }
}
