@import 'styles/_mixins.scss';

.container {
  @include container-width();

  padding: 40px 24px;
  @include mq(tab) {
    @include container-width(768px);
    padding: 40px;
  }
  @include mq(desk) {
    @include container-width(1440px);
    position: relative;
    padding: 18px 80px 60px;
  }
}
.title {
  margin-bottom: 24px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;

  @include mq(tab) {
    font-size: 32px;
    line-height: 48px;
  }
}
