@import 'styles/_global-vars.scss';
@import 'styles/_placeholder.scss';

.button {
  position: absolute;
  top: 38px;
  right: 12px;
  background-color: getBackgroundColor('primary');
}

.iconRemoveInput {
  @extend %icon;
  background-image: getIcon('remove-input');
}
