@import 'styles/_global-vars.scss';
.item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr 2fr;
  width: 272px;
  height: 480px;
  border-radius: 12px;
  box-shadow: getShadow('main');
  background-color: getBackgroundColor('primary');
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.img {
  width: 272px;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
}
.wrapperTitle {
  padding: 16px 16px 8px 16px;
}
.title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #1c1b1f;
}
.wrapperText {
  padding: 8px 16px 16px 16px;
}
.description {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #49454f;
}
.wrapperOpacity {
  position: absolute;
  left: 0;
  top: 296px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 272px;
  height: 40px;
  background-color: #ffffffcc;

  padding: 8px 16px 8px 16px;
}
.text {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #7b61ff;
}
