@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';
.item {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr 2fr;

  width: 272px;
  height: 480px;

  border-radius: 12px;

  background-color: getBackgroundColor('primary');
  box-shadow: getShadow('main');

  transition: grid-template-rows getAnimation('animation'),
    transform getAnimation('animation');

  @include mq(tab) {
    width: 332px;
  }
  .img {
    width: 272px;
    height: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    object-fit: cover;
    @include mq(tab) {
      width: 332px;
      height: 336px;
      transition: width getAnimation('animation');
    }
  }

  .wrapperOpacity {
    position: absolute;
    left: 0;
    top: 296px;

    @include flexed(center, space-between);

    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 16px;

    background-color: #ffffffcc;

    transition: top getAnimation('animation');

    .text {
      color: getColor('primary');

      font-family: getFont('primary');
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0px;
      text-align: left;
    }
  }
  .wrapperBtn {
    display: none;

    padding: 2px 16px 16px 22px;

    .button {
      width: 114px;
      height: 40px;
      padding: 10px 24px 10px 24px;

      border-radius: 8px;
      color: #ffffff;
      background-color: getColor('primary');

      font-family: getFont('primary');
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      letter-spacing: 0px;
      text-align: center;

      transition: background-color getAnimation('animation');

      &:hover,
      &:focus {
        background-color: getColor('hover');
      }
    }
  }

  &:hover,
  &:focus {
    grid-template-rows: 280px 1fr 88px 64px;
    transform: scale(1.05);
    .wrapperOpacity {
      top: 240px;
    }
    .wrapperBtn {
      @include flexed(null, flex-end);
    }
    .img {
      @include mq(tab) {
        height: 280px;
      }
    }
  }
}

.wrapperTitle {
  padding: 16px 16px 8px 16px;
}
.title {
  height: 24px;

  color: #1c1b1f;

  font-family: getFont('primary');
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
}
.wrapperText {
  height: 100%;
  padding: 8px 16px 16px 16px;
}
.description {
  height: 60px;

  color: getColor('secondary-text');

  font-family: getFont('primary');
  font-size: 14px;
  font-weight: 400;

  line-height: 1.43;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
}
