@import 'styles/_mixins.scss';
@import 'styles/_global-vars.scss';

.lang {
  @include flexed(center);
  gap: 1px;
  width: 69px;
  height: 48px;
  background-color: getBackgroundColor('primary');
  padding: 12px;
  border-radius: 8px;
  box-shadow: getShadow('main');
}
.nameLang {
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}
.iconLang {
  width: 24px;
  height: 24px;
  background-image: getIcon('arrow-lang');
  background-repeat: no-repeat;
  background-size: contain;
}
