@import 'styles/_mixins.scss';

.container {
  @include container-width();

  padding: 40px 24px;
  @include mq(tab) {
    @include container-width(768px);

    padding: 40px;
  }
  @include mq(desk) {
    @include container-width(1440px);
    position: relative;
    padding: 18px 80px 60px;
  }
}
