.container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.white {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--primary-background-color);
  box-shadow: 2px 4px 9px 0px #a68dae47;
}
.purple {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--primary-color);
  box-shadow: 2px 4px 9px 0px #a68dae47;
}
.iconCategory {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3e%3cpath stroke='%237B61FF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 4 5 8v6l6 3v-9l5-8H4Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
}
.iconSortBy {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3e%3cpath stroke='%233F3F3F' stroke-linecap='round' stroke-width='1.5' d='M14 5a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m4 0h6M10 5H4m12 7a2 2 0 1 0 4 0 2 2 0 0 0-4 0Zm0 0H4m4 7a2 2 0 1 0-4 0 2 2 0 0 0 4 0Zm0 0h12'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
}
.iconAdd {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12 4v16m-8-8h16'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
}
