@import 'styles/_placeholder.scss';
@import 'styles/_global-vars.scss';
@import 'styles/_mixins.scss';

.container {
  @include flexed(null, flex-end);
  gap: 16px;
}
.white {
  @extend %buttonBar;
  background-color: getBackgroundColor('primary');
}
.purple {
  @extend %buttonBar;
  background-color: getColor('primary');
}
.iconCategory {
  width: 24px;
  height: 24px;
  background-image: getIcon('category');
  background-repeat: no-repeat;
  background-size: contain;
}
.iconSortBy {
  width: 24px;
  height: 24px;
  background-image: getIcon('sort-by');
  background-repeat: no-repeat;
  background-size: contain;
}
.iconAdd {
  width: 24px;
  height: 24px;
  background-image: getIcon('add');
  background-repeat: no-repeat;
  background-size: contain;
}
